.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    color: azure;
}

.NavigationItems li {
    padding: 5px;
    color: #ffffff;
}

.NavigationItems a.active, a:active {
    border-bottom: 4px solid #00ffff;
    color: #ffffff;
}
